// Blockquotes module styles.

.blockquotes {

  &__row {
    position: relative;

    .module__heading {
      margin-bottom: 2rem;
    }
  }
}

.quotes {

  &__item {
    position: relative;
  }

  &__container {
    @extend %flex-row;
    align-items: center;
    justify-content: center;
  }

  &__meta {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    max-width: 10rem;
  }

  &__body {
    @extend %flex-row;
    line-height: 1.75;
    text-align: left;
    align-items: center;
    flex-flow: row;
    margin-bottom: 1rem;
  }

  &__body--no-quotes {

    .quotes__quote {
      visibility: hidden;
    }
  }

  &__content {
    font-style: italic;
    text-align: center;

    @include media-breakpoint-up('lg') {
      padding: 0 2.5rem;
    }
  }

  &__quote {
    padding: 0 1.25rem;
    position: relative;
    top: -1rem;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: $cerulean;

      @include media-breakpoint-up('lg') {
        width: 2.25rem;
        height: 2.25rem;
      }
    }
  }

  &__avatar {
    width: 90px;
    height: auto;
    display: block;
    margin-bottom: .5rem;
  }

  &__title {
    line-height: 1.75;
    font-size: _calc-rem(10px);
  }

  &__dots {
    @extend %flex-row;
    justify-content: center;
    margin: 2rem 0 0;

    li {
      padding: 0 .35rem;

      &.slick-active {

        button {
          background: $downriver;
        }
      }
    }

    button {
      outline: none;
      cursor: pointer;
      appearance: none;
      display: block;
      border: 0;
      text-indent: -9999px;
      border-radius: 25px;
      width: 14px;
      height: 14px;
      background: $cerulean;
    }
  }

  &__icon {
    position: absolute;
    right: -5%;
    top: -5%;
    z-index: 9;
    display: none;

    @include media-breakpoint-up('lg') {
      display: block;
    }

    img {
      max-height: _calc-rem(175px);
      width: auto;
    }
  }
}