// Buttons modules styles

.buttons {

  &__group {
    @extend %flex-row;
    justify-content: center;
    margin: $grid-gutter-width 0;

    .btn {
      width: 100%;
    }

    &--stacked {
      flex-flow: column;
      width: 100%;
      align-items: center;
    }
  }

  &__item {
    margin-bottom: $grid-gutter-width;
    max-width: 360px;
    width: 100%;

    &--stacked {

      .btn {
        display: block;
        width: 100%;
      }
    }
  }
}