// Content Area Module Styles

.content-area {

  &__row--boxed {
    background: $alabaster;
    padding: 2rem;
    position: relative;
    border-left: 8px solid $cerulean;

    @include media-breakpoint-up('md') {
      padding: 3rem 0 2rem;
    }

    &:after {
      z-index: 3;
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: _calc-rem(40px) solid transparent;
      border-right: _calc-rem(25px) solid $white;

      @include media-breakpoint-up('md') {
        border-top: _calc-rem(115px) solid transparent;
        border-right: _calc-rem(70px) solid $white;
      }
    }
  }

  &__row--yellow {
    background: $bianca;
    border-color: $yellow;
  }
}