// Gallery module styles

.gallery {

  &__item {
    margin-bottom: $grid-gutter-width;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__item-content {
    line-height: 1.5;
    margin: .5rem 0;
  }
}
