// heading Module Styles

.heading {
  text-align: center;

  &__featured-image {
    background: $desert-storm;
    position: relative;
    width: 100%;
    z-index: 1;
    min-height: 255px;

    @include media-breakpoint-up('md') {
      min-height: 340px;
    }

    @include media-breakpoint-up('lg') {
      min-height: 485px;
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    top: -1rem;
    padding-bottom: 4rem;

    &:after {
      content: '';

      position: absolute;
      bottom: 0;
      width: 100%;
      max-width: $container-xl;
      left: 0;
      right: 0;
      height: 1px;
      background: $yellow;
    }
  }

  &__title {
    margin-bottom: $spacer * 1.25;
  }

  &__tagline {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    margin-bottom: .75rem;
    padding: .5rem 2rem .4rem;
    background: $yellow;
    color: $white;
  }
}