// Hero Module Styles

.hero {
  background: $desert-storm;
  @include responsive-padding((sm: 75px, md: 90px, lg: 118px));
  text-align: center;

  &--single {
    background: $alabaster;
    @include responsive-padding((sm: 75px, md: 75px, lg: 90px));
  }

  &__heading {
    margin-bottom: $spacer * 1.25;
  }

  &__body {
    display: block;
    margin: 0 auto ($spacer * 2);
    max-width: $container-sm;
  }
}