// Icon Lists Module Styles

.lists {
  background: $bianca;
  padding: 2rem;
  position: relative;
  border-left: 8px solid $yellow;

  @include media-breakpoint-up('md') {
    padding: 3rem 0 2rem;
  }

  &:after {
    z-index: 3;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: _calc-rem(40px) solid transparent;
    border-right: _calc-rem(25px) solid $white;

    @include media-breakpoint-up('md') {
      border-top: _calc-rem(115px) solid transparent;
      border-right: _calc-rem(70px) solid $white;
    }
  }

  &__item {
    @extend %flex-row;
    flex-flow: column;
    text-align: center;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom:  0;
    }

    @include media-breakpoint-up('sm') {
      flex-flow: row wrap;
      text-align: left;
      justify-content: space-between;
    }

    @include media-breakpoint-up('md') {
      padding: 0 3rem;
    }
  }

  &__icon {
    width: 100%;
    margin-bottom:  1rem;

    @include media-breakpoint-up('sm') {
      max-width: 15%;
      margin-bottom: 0;
    }

    img {
      display: block;
      margin: .5rem auto;
      width: auto;
      max-width: 100%;
      max-height: 4rem;

      @include media-breakpoint-up('md') {
        max-height: 8rem;
      }
    }
  }

  &__body {
    width: 100%;

    @include media-breakpoint-up('sm') {
      max-width: 85%;
    }
  }

  &__title {
    margin-bottom: .5rem;
  }

  &__title,
  &__description {

    @include media-breakpoint-up('sm') {
      padding-left: 2rem;
    }
  }
}