// Icon Blocks Module Styles

.icon-blocks {
  text-align: center;

  &__heading {
    margin-bottom: 1rem;
  }

  &__body {
    margin-bottom: 2rem;
  }
}

.blocks {
  @extend %flex-row;
  margin: 2rem 0;

  &__item {
    margin-bottom: 2rem;
  }

  &__icon {
    display: block;
    margin: 0 auto $grid-gutter-width;

    img {
      display: block;
      margin: 0 auto;
      max-height: _calc-rem(105px);
      width: auto;
    }
  }

  &__title {
    display: block;
    margin-bottom: .25rem;
  }
}