// Image Content Module Styles

.image-content {
  overflow: hidden;

  &__row {
    @extend %flex-row;
    align-items: stretch;

    &--default {
      align-items: center;
    }
  }

  &__card {
    background: $bianca;
    padding: 2rem 1.75rem;
    position: relative;
    z-index: 1;

    @include media-breakpoint-up('lg') {
      padding: 4rem 3.75rem;
    }

    &--none {
      text-align: left;
      background: transparent;
      padding: $grid-gutter-width $grid-gutter;

      @include media-breakpoint-up('lg') {
        padding: 0 3rem;
      }
    }

    &--default {
      text-align: center;

      .entry__content {
        line-height: 2;
      }
    }

    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }

    &--dark {
      background: $downriver;
      color: $white;

      .hdg {
        color: $yellow;
      }
    }
  }

  &__button {
    margin-top: $grid-gutter-width;
  }

  &__icon {
    position: absolute;
    right: -10%;
    top: -8%;
    z-index: 9;

    &--right {
      right: auto;
      top: auto;
      left: -10%;
      bottom: -8%;
    }

    img {
      max-height: _calc-rem(175px);
      width: auto;
    }
  }

  &__image {
    padding: 0;

    img {
      max-width: 100%;
      height: auto;

      &.image--background {
        width: 100%;
        display: block;

        @include media-breakpoint-up('lg') {
          display: none;
        }
      }
    }

    &--right {

      @include media-breakpoint-up('lg') {
        order: 1;
      }
    }
  }
}
