// Module List Columns

.list-column {
  @extend %flex-row;
  background: $bianca;
  padding: 2rem;
  position: relative;
  border-left: 8px solid $yellow;

  @include media-breakpoint-up('md') {
    padding: 3rem 2rem 2rem;
  }

  &:after {
    z-index: 3;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: _calc-rem(40px) solid transparent;
    border-right: _calc-rem(25px) solid $white;

    @include media-breakpoint-up('md') {
      border-top: _calc-rem(115px) solid transparent;
      border-right: _calc-rem(70px) solid $white;
    }
  }
}
