// Logos Style

.logos {

  &__grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem 0;

    @include media-breakpoint-up('lg') {
      flex-flow: row wrap;
      padding: 2rem 0;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: $spacer * 2;

    img {
      padding: 0 $spacer;
      width: 100%;
      height: auto;
      display: block;
      max-height: _calc-rem(150px);
    }
  }
}
