
.newsletter {

  .module__body {
    line-height: 1.75;
    margin-bottom: 0;

    p {
      margin-bottom: 1rem;
      display: block;
    }
  }

  &__block {
    @extend %flex-row;
    padding: ($spacer * 3) ($spacer * 2);
    margin-bottom: ($spacer * 2);
    position: relative;
    flex-flow: column;
    align-items: flex-start;
    background: $downriver;
    color: $white;
    flex-flow: column;
    align-items: flex-start;
    text-align: left;

    @include media-breakpoint-up('lg') {
      padding: ($spacer * 3) ($spacer * 4) ($spacer * 3) ($spacer * 2);
    }

    &:after {
      z-index: 3;
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: _calc-rem(40px) solid transparent;
      border-right: _calc-rem(25px) solid $white;

      @include media-breakpoint-up('md') {
        border-top: _calc-rem(90px) solid transparent;
        border-right: _calc-rem(65px) solid $white;
      }
    }

    .wpforms-container-full .wpforms-form .wpforms-field-container {
      width: 100%;
      max-width: 65%;
    }

    .wpforms-container-full .wpforms-form .wpforms-field {
      padding-right: 1rem;
    }

    .wpforms-container-full .wpforms-form input[type=email] {
      border-color: $white;
      background: $white;
      border-radius: 5px;
      margin-right: .5rem;
    }

    .wpforms-container-full .wpforms-form button[type=submit] {
      background: $yellow;
      color: $white;
      border-color: $yellow;
      border-radius: 5px;
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
    }

    .form__newsletter {
      margin-bottom: 0;
    }

    .form__newsletter .wpforms-form {
      @extend %flex-row;
      justify-content: flex-start;
    }
  }
}