// Stats Module Styles

.stats {

  &__wrap {
    background: $downriver;
    color: $white;
  }

  &__head {
    padding: ($spacer * 4) ($spacer * 4) ($spacer * 3);
  }

  &__item {
    margin: $spacer 0 ($spacer * 2);
    padding-bottom: ($spacer * 3);
    position: relative;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 30%;
      right: 30%;
      height: 3px;
      background: $cerulean;
    }

    &:last-child {

      &:after {
        display: none;
      }
    }

    @include media-breakpoint-up('md') {
      &:nth-last-child(-n + 2) {

        &::after {
          display: none;
        }
      }
    }
  }

  &__label {

    @include media-breakpoint-up('md') {
      line-height: 1.5;
      max-width: 60%;
      margin: 0 auto;
    }
  }
}