// Teams module styles.

.team {

  .module__row--boxed {
    background: $bianca;
    border-color: $cerulean;
  }

  .module__heading {
    color: $cerulean;
  }

  &__group {
    text-align: center;
  }
}

.members {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @include media-breakpoint-up('md') {
    padding: 0 1rem;
  }
}

.member {
  margin-bottom: 2rem;

  @include media-breakpoint-up('md') {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &__image {
    position: relative;
    background: $cerulean;
    border-radius: 125%;
    margin-bottom: 1rem;

    img {
      display: block;
      width: 100%;
      height: auto;
      padding: 4px;

      @include media-breakpoint-up('md') {
        padding: 5px;
      }
    }
  }

  &__name {
    @include responsive-text((sm: 22px, md: 24px, lg: 24px));
    color: $downriver;
    line-height: 1.15;
    display: block;
    margin-bottom: .5rem;
  }

  &__title {
    line-height: 1.375;
  }
}
