// sass-lint:disable quotes

// Responsive Text
@mixin responsive-text($map) {
  font-size: _calc-rem(map-get($map, sm));

  @include media-breakpoint-up('md') {
    font-size: _calc-rem(map-get($map, md));
  }

  @include media-breakpoint-up('lg') {
    font-size: _calc-rem(map-get($map, lg));
  }

  @if map-has-key($map, 'xl') {
    @media (min-width: $container-xl) {
      font-size: _calc-rem(map-get($map, xl));
    }
  }
}

// Responsive Padding
@mixin responsive-padding($map) {
  padding-top: _calc-rem(map-get($map, sm));
  padding-bottom: _calc-rem(map-get($map, sm));

  @include media-breakpoint-up('md') {
    padding-top: _calc-rem(map-get($map, md));
    padding-bottom: _calc-rem(map-get($map, md));
  }

  @include media-breakpoint-up('lg') {
    padding-top: _calc-rem(map-get($map, lg));
    padding-bottom: _calc-rem(map-get($map, lg));
  }
}