// Blog Header Styles.

.blog-header {
  width: 100%;
  padding: 1rem;

  @include media-breakpoint-up('sm') {
    padding: 1rem 2rem;
  }

  @include media-breakpoint-up('lg') {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem 4rem 2rem;
    align-items: stretch;
    justify-content: flex-start;
  }

  &__title {
    position: relative;
    width: 100%;

    &:after {
      display: none;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: .5rem;
      width: 1px;
      background: $downriver;
    }

    @include media-breakpoint-up('lg') {
      max-width: 40%;
      padding-right: 2rem;
      width: auto;

      &:after {
        display: block;
      }
    }
  }

  &__categories {
    width: 100%;

    @include media-breakpoint-up('lg') {
      width: auto;
      max-width: none;
      flex: 1;
    }
  }
}

.cat-menu {
  margin-left: -.5rem;
  margin-right: -.5rem;

  @include media-breakpoint-up('lg') {
    margin: 0;
  }

  .cat-item {
    display: inline-block;
    padding: 0;
    margin: .5rem 0;

    @include media-breakpoint-up('lg') {
      margin: 0;
      padding: 1rem;
    }

    &.current-cat {
      a {
        &:after {
          visibility: visible;
          opacity: 1;
          bottom: -3px;
        }
      }
    }
  }

  a,
  span {
    display: block;
    color: $downriver;
    position: relative;
    padding: .5rem;
    transition: $transition-text;

    &:after {
      content: '';
      position: absolute;
      height: 3px;
      left: .75rem;
      right: .75rem;
      background: $cerulean;
      transition: all .25s ease-in-out;
      visibility: hidden;
      opacity: 0;
      bottom: 4px;
    }

    &:hover {
      color: $cerulean;

      &:after {
        visibility: visible;
        opacity: 1;
        bottom: -3px;
      }
    }
  }

  span {

    &:hover {
      color: inherit;

      &:after {
        display: none;
      }
    }
  }
}