// Button Component Styles

.wp-block-button__link,
.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: _calc-rem(15px);
  line-height: 1;
  border-radius: 5px;
  transition: $transition-text;
  text-align: center;

  &__group {
    @extend %flex-row;
    justify-content: center;

    & * {
      margin: 0 1rem 1rem;

      @include media-breakpoint-up('md') {
        margin: 0 1rem;
      }
    }
  }

  a {
    display: block;
    padding: .8rem 1rem;
    line-height: 1;
    border-radius: 5px;
    font-weight: 600;
  }

  &--sm {
    font-size: _calc-rem(12px);
    padding: .75rem 1.5rem;
  }

  &--primary {
    color: $white;
    background: $downriver;
    border: 2px solid $downriver;

    &:hover {
      background: $yellow;
      border-color: $yellow;
      color: $white;
    }

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }

  &--secondary {
    border: 2px solid $cerulean;
    color: $cerulean;

    &:hover {
      background: $cerulean;
      color: $white;
    }

    a {
      color: $cerulean;

      &:hover {
        color: $white;
      }
    }
  }

  &--secondary-yellow {
    border-color: $yellow;
    color: $yellow;

    &:hover {
      background: $yellow;
      border-color: $yellow;
      color: $white;
    }

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }

  &--yellow {
    color: $white;
    background: $yellow;
    border: 2px solid $yellow;

    &:hover {
      background: $cerulean;
      border-color: $cerulean;
      color: $white;
    }

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}

li {

  &.btn {
    padding: 0;
  }
}

.wp-block-button__link {
  color: $white;
  background: $downriver;
  border: 2px solid $downriver;

  .is-style-squared & {
    border-radius: 5px;
  }

  &:hover {
    background: $cerulean;
    border-color: $cerulean;
    color: $white;
  }
}
