// sass-lint:disable force-attribute-nesting
// Forms Module Styles

.form__embed {

  .wpforms-container {

    .wpforms-form {
      text-align: left;

      .wpforms-field-label {
        font-weight: 500;
        display: block;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: _calc-rem(14px);
      }

      .wpforms-field {
        margin-bottom: $spacer;
      }

      input[type=date],
      input[type=datetime],
      input[type=datetime-local],
      input[type=email],
      input[type=month],
      input[type=number],
      input[type=password],
      input[type=range],
      input[type=search],
      input[type=tel],
      input[type=text],
      input[type=time],
      input[type=url],
      input[type=week],
      select,
      textarea {
        border: 1px solid $abbey;
        border-radius: 5px;
        font-size: _calc-rem(18px);
        line-height: 1.4;
        padding: .25rem .75rem;
      }

      .wpforms-error {
        font-weight: 500;
        display: block;
        margin-top: 5px;
        font-size: _calc-rem(14px);
      }

      .wpforms-submit {
        @extend .btn;

        color: $white;
        background: $downriver;
        border: 2px solid $downriver;

        &:hover {
          background: $yellow;
          color: $white;
          border: 2px solid $yellow;
        }
      }
    }
  }
}