// Mobile Menu Styles

.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #fff;
  z-index: 9;
  text-align: center;
  padding: 7rem 1rem 2rem;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__nav {
    display: flex;
    flex-flow: column;
    align-items: center;

    a {
      font-size: _calc-rem(18px);
    }

    li {
      display: inline-block;
      padding: 1.5rem 0;
      opacity: 0;
      position: relative;

      .mobile-menu--active & {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .25s;

        &:nth-of-type(2) {
          animation-delay: .3s;
        }

        &:nth-of-type(3) {
          animation-delay: .35s;
        }

        &:nth-of-type(4) {
          animation-delay: .4s;
        }

        &:nth-of-type(5) {
          animation-delay: .45s;
        }

        &:nth-of-type(6) {
          animation-delay: .55s;
        }

        &:nth-of-type(7) {
          animation-delay: .6s;
        }
      }

      &.btn {
        margin-top: 1.5rem;

        a {
          font-size: 1rem;
        }
      }
    }
  }
}

.menu-icon {
  height: 2rem;
  width: 2rem;
  z-index: 2;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: center;

  @include media-breakpoint-up('lg') {
    display: none;
  }

  &__line {
    height: 2px;
    width: 2rem;
    display: block;
    background-color: $downriver;
    margin: 2px 0;
    transition: transform .2s ease, background-color .5s ease;
  }

  &__line-left,
  &__line-right {
    width: 1rem;
  }

  &__line-right {
    margin-left: auto;
  }

  &--opened {
    .menu-icon__line {
      background-color: #000;
      transform: translateX(0) rotate(-45deg);
    }

    .menu-icon__line-left {
      transform: translateX(2px) rotate(45deg);
    }

    .menu-icon__line-right {
      transform: translateX(-2px) rotate(45deg);
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}