// General Module Styles

.module {
  text-align: center;
  position: relative;

  &__background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0;
    transition: all .4s ease-in-out;

    &.background--loaded {
      opacity: 1;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__heading {
    margin-bottom: 1rem;
  }

  &__body {
    margin-bottom: 2rem;
  }

  &__image {
    position: relative;
    display: block;

    img {
      z-index: 2;
      max-width: 100%;
      height: auto;
    }

    &:after {
      z-index: 3;
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: _calc-rem(40px) solid transparent;
      border-right: _calc-rem(25px) solid $white;

      @include media-breakpoint-up('md') {
        border-top: _calc-rem(115px) solid transparent;
        border-right: _calc-rem(70px) solid $white;
      }
    }

    &--margin-bottom {
      margin-bottom: $grid-gutter;
    }

    &--hide {

      &:after {
        display: none;
      }

    }
  }

  &__row--boxed {
    background: $alabaster;
    padding: 2rem;
    position: relative;
    border-left: 8px solid $cerulean;

    @include media-breakpoint-up('md') {
      padding: 3rem 0 2rem;
    }

    &:after {
      z-index: 3;
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: _calc-rem(40px) solid transparent;
      border-right: _calc-rem(25px) solid $white;

      @include media-breakpoint-up('md') {
        border-top: _calc-rem(115px) solid transparent;
        border-right: _calc-rem(70px) solid $white;
      }
    }
  }

  &__row--no-end {

    &:after {
      display: none;
    }
  }
}
