// page content component

.page-content {

  &__block {
    padding: ($spacer * 2) 0;
    margin: 0 0 ($spacer * 2);

    @include media-breakpoint-up('sm') {
      background: $bianca;
      padding: ($spacer * 2) ($spacer * 4);
      margin: -($spacer * 4) 0 ($spacer * 4);
    }

    @include media-breakpoint-up('lg') {
      padding: ($spacer * 4) ($spacer * 6);
    }
  }
}

.page {

  &__content {
    margin: 1rem 0;
    line-height: 1.6;

    .searchform {
      margin: 2rem 0;

      input {

        &[type='text'] {
          border: 1px solid $abbey;
          border-radius: 5px;
          font-size: _calc-rem(18px);
          line-height: 1.4;
          padding: .25rem .75rem;
          margin-right: 1rem;
        }
      }

      .input-group {
        @extend %flex-row;
        justify-content: center;
        align-items: stretch;
      }
    }
  }
}