// Single post header styles.

.post-header {
  position: relative;
  background: $downriver;

  &--image {
    min-height: 225px;

    @include media-breakpoint-up('md') {
      min-height: 450px;
    }
  }

  &--banner {
    margin-bottom: 1rem;

    @include media-breakpoint-up('md') {
      margin-bottom: 2rem;
    }
  }
}
