// Post Author module styles

.post-author {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
  background: $alabaster;

  @include media-breakpoint-up('sm') {
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .article {

    &__avatar {

      @include media-breakpoint-up('sm') {
        max-width: 25%;
        padding-right: 1rem;
      }

      img {
        width: auto;
      }
    }

    &__meta {
      text-align: center;

      @include media-breakpoint-up('sm') {
        text-align: left;
        max-width: 75%;
      }
    }
  }
}
