// Archive post content styles

.entry {

  &__article {
    text-align: center;
    margin-bottom: $spacer * 3;

    @include media-breakpoint-up('md') {
      padding: 0 ($spacer * 2);
    }
  }

  &__item {
    position: relative;
    background: $white;

    &:before {
      z-index: -1;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: $yellow;
      transition: $transition-text;

      .entry__article--first & {
        display: none;
      }
    }

    &:hover {

      &:before {
        left: -2px;
        right: -2px;
        bottom: -2px;
        top: -2px;
      }
    }

    .entry__article--first & {
      background: $downriver;
      color: $white;

      .entry__category {
        font-size: _calc-rem(18px);
      }

      .entry__body {
        padding: 2rem 2rem 3rem;

        @include media-breakpoint-up('md') {
          padding: 2rem 4rem 4rem;
        }
      }

      &:after {
        z-index: 3;
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: _calc-rem(40px) solid transparent;
        border-right: _calc-rem(25px) solid $white;

        @include media-breakpoint-up('md') {
          border-top: _calc-rem(115px) solid transparent;
          border-right: _calc-rem(70px) solid $white;
        }
      }
    }
  }

  &__thumb {

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &--portfolio {
      margin-bottom: 1rem;
    }
  }

  &__body {
    padding: ($spacer * .5) ($spacer * 2) ($spacer * 2);
  }

  &__header {
    display: block;
    margin-bottom: $spacer;
  }

  &__category {
    display: inline-block;
    text-transform: uppercase;
    font-size: _calc-rem(14px);
    position: relative;
    top: -.8rem;

    a {
      display: block;
      padding: .5rem 2rem .4rem;
      background: $yellow;
      color: $white;

      &:hover {
        background: $downriver;
      }
    }
  }

  &__author {
    display: block;
    margin-bottom: $spacer;

    a {
      color: $yellow;

      &:hover {
        color: $cerulean;
      }
    }
  }

  &__excerpt {
    line-height: 1.75rem;
    font-size: 1rem;
    font-family: "verdana", sans-serif;
  }

  &__button {
    margin-top: 1.5rem;
  }
}
