// sass-lint:disable no-important
// WordPress WYSIWYG Styles

.entry__content {
  line-height: 1.75;

  &--footer {
    font-size: _calc-rem(12px);
  }

  &--article {
    line-height: 1.75rem;
    font-size: 1rem;
    font-family: "verdana", sans-serif;
  }

  h2 {
    @extend %h2;
    color: $cerulean;
    display: block;
    margin-bottom: $spacer;
  }

  h3 {
    @extend %h3;
    color: $cerulean;
    display: block;
    padding: 1rem 0 0;
    margin-bottom: $spacer;
    line-height: 1.25;
  }

  h4 {
    @extend %h4;
    padding: 1rem 0 .5rem;
    color: $cerulean;
    display: block;
    margin-bottom: .5rem;
  }

  h5 {
    color: $cerulean;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.8rem;
  }

  h6 {
    @extend %h6;
  }

  p,
  address,
  pre,
  hr,
  ul,
  ol,
  dl,
  dd,
  table {
    margin-bottom: $spacer * 2;
  }

  strong,
  dt,
  b {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  table,
  th,
  td {
    border: 1px solid #eaeaea;
  }

  table {
    width: 100%;
    margin: 0 0 1.6em;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: separate;
    border-width: 1px 0 0 1px;
    border-color: $silver;
  }

  caption,
  th,
  td {
    text-align: left;
  }

  th {
    font-weight: bold;
    border-width: 0 1px 1px 0;
  }

  td {
    border-width: 0 1px 1px 0;
  }

  th,
  td {
    padding: .4em;
  }

  ol,
  ul {
    margin-left: 35px;
  }

  ol {

    li {
      list-style-type: decimal;
      margin-bottom: $spacer;

      ol {
        margin-bottom: 0;
      }

    }

  }

  ul {

    li {
      list-style-type: disc;
      margin-bottom: $spacer;

      ul {
        margin-bottom: 0;
      }

    }

  }

  &--no-style-type {

    ul {
      margin-left: 0;

      li {
        list-style-type: none;
      }
    }
  }

  blockquote {
    @include responsive-text((sm: 20px, md: 24px, lg: 24px));
    line-height: 1.6;
  }

  .wp-block-quote {
    padding: ($spacer * 3) ($spacer * 2) $spacer ($spacer * 3) !important;
    margin-bottom: ($spacer * 2) !important;
    position: relative;
    background: $downriver;
    color: $white;

    &:after {
      z-index: 3;
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: _calc-rem(40px) solid transparent;
      border-right: _calc-rem(25px) solid $white;

      @include media-breakpoint-up('md') {
        border-top: _calc-rem(90px) solid transparent;
        border-right: _calc-rem(65px) solid $white;
      }
    }
  }

  figure,
  img {
    max-width: 100%;
    height: auto;
  }

  figure {
    //background: $bianca;
    //padding: 1rem;
    margin-bottom: $spacer * 2;

    h6 {
      font-weight: 400;
      text-transform: none;
      color: $cerulean;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .wp-block-image {
    &.border--tan {
      background: $bianca;
      padding: 1rem;

      figcaption {
        margin-bottom: 0;
      }
    }
    &.border--gray {
      background: $aqua-squeeze;
      padding: 1rem;

      figcaption {
        margin-bottom: 0;
      }
    }
  }

  .alignleft {
    height: auto;
    margin: 0 1rem 1rem 0;
    float: left;
  }

  .alignright {
    float: right;
    margin: 0 0 1rem 1rem;
  }

  .aligncenter {
    margin: 0 auto;
    display: block;
  }

  .wp-block-image,
  .wp-caption-text {
    @include responsive-text((sm: 10px, md: 10px, lg: 12px));
  }

  address {
    p {
      margin-bottom: 0;
    }

  }

  pre {
    font-family: monospace;
    display: block;
    margin: 15px 0;
    padding: 15px;
    white-space: pre;
    background: #eee;
  }

  sub,
  sup {
    @include responsive-text((sm: 10px, md: 10px, lg: 12px));
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -.5em;
  }

  sub {
    bottom: -.25em;
  }

}
