// Variables
// chir.ag/projects/name-that-color
$white: #ffffff;
$alabaster: #F8F8F8;
$aqua-squeeze: #EDF7F5;
$desert-storm: #EFEFED;
$silver: #CCCCCC;
$sinbad: #A5D6CD;
$kelp: #494945;
$mine-shaft: #37383B;
$friar-gray: #7A7A77;
$black: #000000;

$black-20: rgba($black, .2);
$black-40: rgba($black, .4);
$black-50: rgba($black, .5);
$black-60: rgba($black, .6);

// Brand colors
$bianca: #FCFAF4;
$cerulean: #00ADEF;
$downriver: #0E3957;
$abbey: #56595F;
$yellow: #EFB000;

// Fonts
@include font-face(Verda, '../../assets/fonts/verbextralight-webfont', 100, normal, eot woff);
@include font-face(Verda, '../../assets/fonts/verblight-webfont', 300, normal, eot woff);
@include font-face(Verda, '../../assets/fonts/verbregular-webfont', 400, normal, eot woff);
@include font-face(Verda, '../../assets/fonts/verbmedium-webfont', 500, normal, eot woff);
@include font-face(Verda, '../../assets/fonts/verbbold-webfont', 700, normal, eot woff);
@include font-face(Verda, '../../assets/fonts/verbblack-webfont', 900, normal, eot woff);

$verda: 'Verda', 'Sofia Pro', sans-serif;
$font-spaced-md: 2.5px;

// transitions
$transition-text: all .25s ease-in-out;
$transition-slide-out: transform .75s cubic-bezier(.68, -.02, .59, 1.1);


// Spacing
// sass-lint:disable-all
$spacer: 1rem !default;

// Grid breakpoints

$grid-breakpoints: (
    xxs: 0,
    xs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1500px
) !default;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints);

// Grid containers

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;

$container-sm: 720px;
$container-md: 990px;
$container-lg: 1024px;
$container-xl: 1440px;

@include _assert-ascending($container-max-widths, '$container-max-widths');

// Grid columns

$grid-columns: 12 !default;
$grid-gutter: 14px !default;
$grid-gutter-width: $grid-gutter * 2 !default;