// Post articles styles

.article {

  &__sidebar,
  &__page {
    padding-bottom: 1rem;

    @include media-breakpoint-up('md') {
      padding-bottom: 2rem;
    }

    &--image {
      padding-top: 1rem;

      @include media-breakpoint-up('md') {
        padding-top: 2rem;
      }
    }
  }

  &__page {

    .post-format--full {
      display: flex;
      flex-flow: column;
      align-items: center;

      .article__header-container {
        margin: 0 auto;
      }
    }
  }

  &__header {
    text-align: center;

    &--full,
    &--image,
    &--hybrid {
      margin-bottom: 3rem;
    }

    &--banner,
    &--text {
      padding: 3rem 0;
      color: $white;

      @include media-breakpoint-up('md') {
        text-align: left;
        padding: 4rem 0;
      }
    }
  }

  &__meta {

    &--sidebar {
      text-align: center;
      margin-bottom: 2rem;
      padding: 1rem;
      background: $alabaster;
    }
  }

  &__full,
  &__hybrid {

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__category {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1.5rem;
    font-size: _calc-rem(20px);
    font-weight: 500;

    .article__header--hybrid & {
      position: relative;
      top: -15px;
    }

    .article__header--full & {
      position: relative;
      top: -15px;
    }

    .article__header--image & {
      position: relative;
      margin-bottom: 0;
      top: -2rem;

      @include media-breakpoint-up('md') {
        top: -3rem;
      }
    }

    a {
      display: block;
      padding: .5rem 2rem .4rem;
      background: $yellow;
      color: $white;

      &:hover {
        background: $downriver;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: 1.5rem;
  }

  &__overview {
    @include responsive-text((sm: 20px, md: 24px, lg: 24px));
    line-height: 1.5;

    @include media-breakpoint-up('md') {
      max-width: $container-sm;
    }
  }

  &__date-author {

    .entry__content--article & {
      margin-bottom: 1rem;
    }


    span {
      position: relative;
      padding-right: .65rem;
      margin-right: .5rem;

      &:after {
        content: '';
        position: absolute;
        top: 2px;
        bottom: 2px;
        right: -2px;
        width: 1px;
        background: $mine-shaft;
      }
    }
  }

  &__author {
    line-height: 1.75;

    a {
      color: $yellow;
    }

    &-bio {
      margin: .5rem 0;
      display: block;
      line-height: 1.5;
      font-size: _calc-rem(14px);
      font-style: italic;
    }
  }

  &__bio {
    display: block;
  }

  &__avatar {
    margin-bottom: .5rem;

    img {
      display: inline-block;
      border-radius: 500px;
      width: 96px;
      height: auto;

      @include media-breakpoint-up('md') {
        width: 128px;
      }
    }
  }
}
