// Sass Footer Styles

.footer {
  background: $downriver;
  color: $white;
  padding-top: 2rem;
  padding-bottom: 2rem;

  a {
    transition: $transition-text;
    color: $white;

    &:hover {
      color: $cerulean;
    }
  }

  &__row {
    @extend %flex-row;
    width: 100%;
  }

  &__item {
    width: 100%;
    padding: 0 $grid-gutter;
    text-align: center;
    margin-bottom: $grid-gutter-width;

    @include media-breakpoint-up('md') {
      max-width: 20%;
      text-align: inherit;
      margin-bottom: 0;
    }

    &--logo {

      @include media-breakpoint-up('md') {
        max-width: 30%;
      }

      img {
        max-height: 2rem;
        max-width: 90%;
        width: auto;
      }
    }

    &--copyright {
      font-size: _calc-rem(12px);

      @include media-breakpoint-up('md') {
        max-width: 30%;
      }
    }
  }

  .wpforms-container-full .wpforms-form .wpforms-title,
  &__item-title {
    display: block;
    text-transform: uppercase;
    font-size: _calc-rem(14px);
    font-weight: 600;
    line-height: 2.5;
    margin-bottom: $grid-gutter;
  }

  .wpforms-container-full .wpforms-form .wpforms-description {
    font-size: _calc-rem(14px);
    line-height: 1.4;
  }

  .wpforms-container-full .wpforms-form .wpforms-field {
    padding-right: 1rem;
  }

  .wpforms-container-full .wpforms-form input[type=email] {
    background: transparent;
    border-color: $cerulean;
    border-radius: 5px;
    margin-right: .5rem;
    color: $white;
    margin-bottom: .25rem;
  }

  .wpforms-container-full .wpforms-form button[type=submit] {
    background: $white;
    color: $cerulean;
    border-radius: 5px;
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    padding: 12px 15px;
  }

  .form__newsletter .wpforms-form {
    @extend %flex-row;
    justify-content: center;
  }

  &__nav {

    li {
      display: block;

      ul {

        a {
          line-height: 2;
          font-size: _calc-rem(12px);
          font-weight: 400;
        }
      }
    }

    a {
      display: block;
      text-transform: uppercase;
      font-size: _calc-rem(14px);
      font-weight: 600;
      line-height: 2.5;
    }
  }
}