// Container widths

.container {
  @include make-container();
  @include make-container-max-widths();
}

// Fluid container

.container-fluid {
  @include make-container();

  &--sm {
    max-width: $container-sm;
  }

  &--md {
    max-width: $container-md;
  }

  &--lg {
    max-width: $container-lg;
  }

  &--xl {
    max-width: $container-xl;
  }
}

// Rows contain and clear the floats of your columns.

.row {
  @include make-row();
}

// Remove the negative margin from default .row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

// Common styles for small and large grid columns
@include make-grid-columns();
