// Header Styles

.header {
  padding-top: $spacer;
  padding-bottom: $spacer;
  position: relative;
  z-index: 10;

  &--fixed {
    transition: position 2s;
    transition-delay: .25s;
    position: fixed;
    width:  100%;
  }

  @include media-breakpoint-up('md') {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
}

.navbar {
  @extend %flex-row;
  align-items: center;

  &__brand {

    img {
      display: block;
      width: auto;
      max-height: _calc-rem(28px);

      @include media-breakpoint-up('md') {
        max-height: _calc-rem(42px);
      }
    }
  }

  &__nav {
    display: none;

    @include media-breakpoint-up('lg') {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }

    li {
      display: block;
      margin: 0 .75rem;

      &.current-menu-item {
        a {
          &:after {
            visibility: visible;
            opacity: 1;
            bottom: -3px;
          }
        }
      }

      &.btn {
        a {
          &:after {
            display: none;
          }
        }
      }
    }

    a {
      position: relative;
      color: $mine-shaft;
      font-size: _calc-rem(12px);
      line-height: 1.6;
      text-transform: uppercase;
      font-weight: 500;
      padding: .5rem;
      transition: $transition-text;

      &:after {
        content: '';
        position: absolute;
        height: 3px;
        left: .75rem;
        right: .75rem;
        background: $cerulean;
        transition: all .25s ease-in-out;
        visibility: hidden;
        opacity: 0;
        bottom: 4px;
      }

      &:hover {
        color: $cerulean;

        &:after {
          visibility: visible;
          opacity: 1;
          bottom: -3px;
        }
      }
    }
  }
}