// Sidebar Styles

.recent-posts {

  &__headline {
    color: $white;
    background: $downriver;
    text-transform: uppercase;
    padding: .5rem;
    display: block;
    margin-bottom: .5rem;
  }

  ul {
    padding: .5rem;
  }

  &__item {
    display: block;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid $downriver;
  }

  &__title {
    display: block;
    margin-bottom: 8px;

    a {
      display: block;
      color: $downriver;
      line-height: 1.5;
      font-size: _calc-rem(14px);

      &:hover {
        color: $cerulean;
      }
    }
  }

  &__author {

    a {
      font-style: italic;
      color: $kelp;
      font-size: _calc-rem(14px);
    }
  }
}
