// Basic Setup

// sass-lint:disable no-vendor-prefixes
// sass-lint:disable no-ids

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

html {
  font-size: 16px;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $verda;
  color: $mine-shaft;
  background: $white;
  position: relative;
}

a {
  color: $cerulean;
  text-decoration: none;
  transition: $transition-text;
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}