// sass-lint:disable no-important
// Typography styles

.hdg--1 {
  @include responsive-text((sm: 36px, md: 42px, lg: 48px));
  line-height: 1.1;
}

%h1,
.hdg--2 {
  @include responsive-text((sm: 32px, md: 36px, lg: 40px));
  line-height: 1.22;
}

%h2,
.hdg--3 {
  @include responsive-text((sm: 28px, md: 32px, lg: 38px));
}

%h3,
.hdg--4 {
  @include responsive-text((sm: 26px, md: 30px, lg: 32px));
}

%h4 {
  font-size: _calc-rem(24px);
  line-height: 1.6;
}

.hdg--5 {
  font-size: _calc-rem(18px);
  line-height: 1.6;
  font-weight: 500;
}

.hdg--6 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
}

%h6,
.hdg--7 {
  font-size: _calc-rem(12px);
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 800;
}

.hdg {
  line-height: 1.3;

  &--light {
    font-weight: 300;
  }

  &--normal {
    font-weight: 400;
  }

  &--bold {
    font-weight: 500;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--blue {
    color: $cerulean;
  }

  &--dark-blue {
    color: $downriver;
  }

  &--yellow {
    color: $yellow;

    a {
      color: $yellow;
    }
  }
}

.text {

  &--lh2 {
    line-height: 2 !important;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}
