// Block CTA Styles.

.cta {
  @extend %flex-row;
  padding: ($spacer * 3) ($spacer * 2);
  margin-bottom: ($spacer * 2);
  position: relative;
  flex-flow: column;
  align-items: flex-start;

  @include media-breakpoint-up('lg') {
    flex-flow: row;
    align-items: center;
    padding: ($spacer * 3) ($spacer * 4) ($spacer * 3) ($spacer * 2);
  }

  &:after {
    z-index: 3;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: _calc-rem(40px) solid transparent;
    border-right: _calc-rem(25px) solid $white;

    @include media-breakpoint-up('md') {
      border-top: _calc-rem(90px) solid transparent;
      border-right: _calc-rem(65px) solid $white;
    }
  }

  &--stacked {
    flex-flow: column;
    align-items: flex-start;

    .cta__button {
      margin-top: 2rem;
    }
  }

  &--inline {

    .cta__body {

      @include media-breakpoint-up('lg') {
        max-width: 68%;
      }
    }

    .cta__button {
      margin-top: 2rem;

      @include media-breakpoint-up('lg') {
        margin-top: 0;
      }
    }
  }
}