// Table of Contents block styles

.block__toc {
  font-size: .875rem;

  @include media-breakpoint-up('sm') {
    position: fixed;
    left: 0;
    top: 20%;
    opacity: 0;
    visibility: hidden;
    transition: .25s all ease-in-out;
    z-index: 11;
  }
}

.entry__content {
  .toc {

    &--active {

      @include media-breakpoint-up('sm') {
        opacity: 1;
        visibility: visible;
      }
    }

    &--opened {

      .toc__body {
        box-shadow: 2px 2px 10px $desert-storm;
        transform: translateX(0);
      }

      .toc__open {

        @include media-breakpoint-up('sm') {
          opacity: 0;
        }
      }
    }

    &__open {
      background: $yellow;
      color: $white;
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      height: 36px;
      align-items: center;
      justify-content: center;
      transition: $transition-text;
      opacity: 1;
      display: none;

      @include media-breakpoint-up('sm') {
        display: flex;
      }

      img {
        display: block;
        width: 16px;
        height: auto;
      }
    }

    &__body {
      background: $white;
      margin: 0 0 2rem;

      @include media-breakpoint-up('sm') {
        margin: 0;
        position: absolute;
        width: 350px;
        transform: translateX(-100%);
        transition: $transition-slide-out;
      }
    }

    &__title {
      background: $downriver;
      color: $white;
      font-size: 1rem;
      text-transform: uppercase;
      padding: 0 1.25rem;
      line-height: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__close {
      display: none;

      @include media-breakpoint-up('sm') {
        display: block;
      }

      img {
        display: block;
        width: 28px;
        height: auto;
      }
    }

    &__read {
      padding: 0 1.25rem 2rem;
      font-weight: 600;
      color: $black-50;

      @include media-breakpoint-up('sm') {
        padding: 0 1.25rem;
      }
    }

    &__list {
      margin: 0;
      padding: 1rem 0 1.5rem;

      li {
        list-style-type: none;
        margin: 0;
      }

      a {
        display: block;
        padding: .5rem 1.25rem;
        line-height: 1.4;
        color: $mine-shaft;
        transition: $transition-text;

        &.active,
        &:hover {
          color: $cerulean;
        }
      }
    }
  }

}
